.loginContainer {
    margin-left: 35%;
}

.loginForm {
    display: grid;
    grid-template-columns: 100px 300px;
    padding-top: 10px;
}

.item {
    margin-left: 100px;
    padding-top: 5px;


}

.loginFormContainer {
    margin-left: 70px;
}