.container {
    margin-left: 100px;
    margin-top: 20px;
    overflow-y: scroll;
}

.containerCart {
    margin-top: 15px;
}

.container h1 {
    color: #7f7f7f;
}

.btn {
    display: grid;
    grid-template-columns: 100px 150px 100px;
    grid-gap: 20px;
}

.name {
    font-size: 1.2rem;
    padding-bottom: 5px;

}

.nameForm {
    width: 500px;
}