.hat {

    background-color: #1677fd;
    color: #ffffff;
    height: 100px;
}

.container {
    display: flex;

    padding-left: 50px;
    padding-right: 20px;

}


.loginUser {
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.login {
    width: 100%;

    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
    padding-top: 20px;

}